%ul.menu
  %li
    = link_to '#', class: 'copy-link js-copy-link', data: { clipboard_text: board_url(@board) } do
      %i.fa.fa-clipboard
      Copy this board URL
  %li
    = link_to '#', class: 'copy-link js-copy-link', data: { clipboard_text: @board.markdown } do
      %i.fa.fa-clipboard
      Copy as Markdown

%section.board-container
  - @board.categories.order(:id).each do |category|
    %section.category-container.fusen-container.js-category-container{ data: { key: category.key } }
      %h2.category-title= category.title
      %ul.js-card-list.fusen-list
        = render partial: 'cards/card', collection: category.cards.rank(:rank), layout: 'list'
        %li.hidden.js-card-new-form-container
          = render partial: 'cards/new_form', locals: { category: category}
      .add-card-link-container
        %a.add-card-link.js-open-new-card-form{ href: '', data: { category_key: category.key } }
          %i.twa.twa-2x.twa-hatching-chick
          .add-card-link__label
            = "Add to #{category.title}"
            %i.twa.twa-arrow-heading-up

%ul.hidden
  = render partial: 'cards/card_form', collection: @board.cards.order(:id), layout: 'list', as: :card
