= render 'board', board: @board

- @board.categories.order(:id).each do |category|
  %section
    %h2= category.title
    %ul.js-card-list
      = render partial: 'cards/card', collection: category.cards.rank(:rank), layout: 'list'
      %li= link_to 'Add', board_category_cards_path(@board, category), method: :create

%ul.hidden
  = render partial: 'cards/card_form', collection: @board.cards.order(:id), layout: 'list', as: :card
