!!! 5
%html
  %head
    %title Furikaerin
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: "viewport", content: "width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" }
  %body{id: id_name_for_body, class: class_name_for_body}
    = yield
